<app-nav></app-nav>
<main role="main">

  <div class="jumbotron p-0">
    <app-tabla-pelicula *ngIf="imagesLoaded" (movieSelected)="selectMovie($event)" [movies]="movies">
    </app-tabla-pelicula>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <app-tabla-actor [actors]="actors"></app-tabla-actor>
      </div>
      <div class="col-md-4">
        <app-detalle-pelicula [movie]="movie"></app-detalle-pelicula>
      </div>
    </div>

    <hr>

  </div>

</main>

<footer class="container">
  <p>&copy; Company 2017-2021</p>
</footer>
