<app-nav></app-nav>>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron p-0">
    <app-tabla-actor [actors]="actors" (actorSelected)="selectActor($event)" style="display:table;width: 100%;"></app-tabla-actor>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <app-tabla-pelicula-fija [imagesLoaded]="imagesLoaded" [movies]="movies"></app-tabla-pelicula-fija>
      </div>
      <div class="col-md-4">
        <app-detalle-pais [pais]="pais"></app-detalle-pais>
      </div>
      <div class="col-md-4">
        <app-detalle-actor [actor]="actor"></app-detalle-actor>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2021</p>
</footer>
