<div id="wrapper">
  <span (mouseover)="swipe('l')" class="left-controls" role="button" aria-label="See Previous Modules">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
    </svg>
  </span>
  <h3> Tendencias </h3>
  <div class="module-section clearfix">
    <ul #content>
      <li class="card effect1" *ngFor="let movie of movies">
        <img (click)="selectMovie(movie)" src="/assets/peliculas/{{movie.foto_path}}" alt="cover-pelicula">
      </li>
    </ul>
  </div>
  <span (mouseover)="swipe('r')" class="right-controls" role="button" aria-label="See Previous Modules">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-right"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
    </svg>
  </span>
</div>
